.container {
  height: 100%;
  width: 100%;
}
.topbar {
  background-color: rgb(118, 205, 255);
  margin-top: -3em;
  height: 9em;
  overflow: hidden;
}
.ad {
  outline-color: rgb(101, 134, 224);
  color: white;
  font-size: 70px;

  float: left;
  border-color: rgb(55, 99, 192);
  -webkit-text-stroke: 3px rgb(94, 159, 233);
  -webkit-text-fill-color: white;
}
.icon {
  float: left;
  padding-top: 1.1em;
  padding-left: 30%;
  width: 5%;
  float: left;
  font-size: 3.5em;
  color: white;
  padding-left: 30%;
}
