.square {
  width: 2%;
  height: 100%;
  border: rgb(6, 155, 255);
  border-style: solid;
  float: left;
  border-width: 1px;
  margin-bottom: -2px;
}
.start {
  background-color: chartreuse;
}
@keyframes shortest_anim {
  from {
    background-color: blue;
  }
  to {
    background-color: chartreuse;
  }
}
.end {
  background-color: red;
}
.visited {
  background-color: blue;
  animation-name: vstd_anim;
  animation-duration: 1s;
}
@keyframes vstd_anim {
  0% {
    background-color: white;
  }
  1% {
    background-color: gold;
  }

  100% {
    background-color: blue;
  }
}
.wall {
  background-color: purple;
  animation-name: wall_anim;
  animation-duration: 0.5s;
}
@keyframes wall_anim {
  from {
    background-color: white;
  }
  to {
    background-color: purple;
  }
}
.shortest {
  background-color: chartreuse;
  animation-name: shortest_anim;
  animation-duration: 1s;
}
.gridBox {
  height: 90%;
  width: 99%;
  padding-top: 0%;
}
